
*.nirs
*.bin
*.snirf
ninja12testB.nsd
ninja12test.nsd
configninja12com7.cfg
matlab.mat
*.asv
mental_math_2.nsd
ninjatesthair.nsd
ninjaGUIinstaller/PackagingLog.html
ninjaGUIinstaller/for_testing/splash.png
ninjaGUIinstaller/for_testing/requiredMCRProducts.txt
ninjaGUIinstaller/for_testing/readme.txt
ninjaGUIinstaller/for_testing/ninjaGUI.exe
ninjaGUIinstaller/for_testing/mccExcludedFiles.log
ninjaGUIinstaller/for_redistribution_files_only/splash.png
ninjaGUIinstaller/for_redistribution_files_only/readme.txt
ninjaGUIinstaller/for_redistribution_files_only/ninjaGUI.exe
ninjaGUIinstaller/for_redistribution/ninjaGUIinstall.exe
ninjaGUIinstaller.prj
NinjaGUI.prj
