
*.nirs
*.bin
*.snirf
ninja12testB.nsd
ninja12test.nsd
configninja12com7.cfg
PROBE_NEW1 copy.nSD
PROBE_NEW1 copy.SD
SD2nSD.asv
snirf/Snirf/PROBE_NEW3 (3).SD
snirf/Snirf/analyser.m
snirf/Snirf/sd12opt.xlsx
ninjaGUIinstaller.prj
device_functions/fNIRS1kv1/matlab.mat
device_functions/fNIRS1kv1/probe_test_2021.nsd
matlab.mat
device_functions/ninjaNIRS2/ninja_ReadBytesAvailable.asv
dummy.mat
config24optodescom7.cfg
config2021a_fake.cfg
config2021ab.cfg
autosave/2021-05-26/analyzebin.m
*.asv
liblsl-Matlab1/mex/lsl_remove_child_n.c
liblsl-Matlab1/mex/lsl_resolve_all_.c
liblsl-Matlab1/mex/lsl_resolve_bypred_.c
liblsl-Matlab1/mex/lsl_resolve_byprop_.c
liblsl-Matlab1/mex/lsl_samples_available.c
liblsl-Matlab1/mex/lsl_set_child_value.c
liblsl-Matlab1/mex/lsl_set_name.c
liblsl-Matlab1/mex/lsl_set_value.c
liblsl-Matlab1/mex/lsl_time_correction.c
liblsl-Matlab1/mex/lsl_value.c
liblsl-Matlab1/mex/lsl_wait_for_consumers.c
liblsl-Matlab1/README.md
*.c
config2.cfg
frontal_walking_20210713.SD
frontal_walking_AO.SD
autosave/2021-09-7/ninjaNIRS2021a2021-09-7-20-27-48.nirs.mat
config files test/config2021a_1moredetector.cfg
config files test/tested/config2021_correct_parameters.cfg
config files test/tested/config2021a_1lessdetector.cfg
config files test/testprobefulloptodes.SD
config files test/testprobelessdetectors.SD
config files test/testprobelesssources.SD
config files test/testprobelesssourcesanddetectors.SD
config files test/testprobemoredetectors.SD
config files test/testprobemoresources.SD
config files test/testprobemoresourcesanddetectors.SD
config_wrongport.cfg
file2021example.cfg
*.cfg
temp.mat
